Repository arithmico/arithmico, pull requests merged in 2022-11, with the labels that each got.

#233 refactor: polynomial tests use factory functions for nodes now
  libs/engine/src/test/utils/polynomial-syntax-tree-utils.test.ts
Labels: refactor

#235 Npm parser package
  .github/workflows/deploy-development.yml
  .github/workflows/deploy-production.yml
  libs/engine/.gitignore
  libs/engine/.prettierignore
  libs/engine/package.json
  libs/engine/parser/build.js
  libs/engine/src/index.ts
  libs/engine/src/test/normalize/normalize-integration.test.ts
  libs/parser/.gitignore
  libs/parser/build.js
  libs/parser/grammar.peggy
  libs/parser/package.json
  package-lock.json
  package.json
Labels: refactor

#241 Implement datatype string
  libs/engine/src/create/create-string-node.ts
  libs/engine/src/eval/index.ts
  libs/engine/src/eval/nodes/eval-string.ts
  libs/engine/src/serialize/index.ts
  libs/engine/src/serialize/nodes/serialize-string-node.ts
  libs/engine/src/test/integration.test.ts
  libs/engine/src/types/SyntaxTreeNodes.ts
  libs/parser/grammar.peggy
Labels: feature, engine

#244 feat: allow plugin fragment nesting
  libs/engine/src/utils/plugin-builder-v2.ts
Labels: feature, engine

#243 Refactor/statistics plugin
  libs/engine/src/plugins/core/statistics/fragments/distributions.ts
  libs/engine/src/plugins/core/statistics/fragments/miscellaneous.ts
  libs/engine/src/plugins/core/statistics/fragments/sampling-statistics.ts
  libs/engine/src/plugins/core/statistics/statistics.test.ts
  libs/engine/src/plugins/core/statistics/statistics.ts
  libs/engine/src/plugins/core/statistics/utils/binomial.ts
  libs/engine/src/plugins/core/statistics/utils/corr.ts
  libs/engine/src/plugins/core/statistics/utils/sd.ts
  libs/engine/src/plugins/core/statistics/utils/var.ts
  libs/engine/src/test/integration.test.ts
  libs/engine/src/utils/plugin-builder-v2.ts
Labels: refactor, engine

#245 Feat/latex input transformation
  libs/engine/src/test/integration.test.ts
  libs/parser/grammar.peggy
Labels: feature, engine

#252 feat: add method call parsing
  libs/engine/src/eval/index.ts
  libs/engine/src/eval/nodes/eval-method-call.ts
  libs/engine/src/load/load-plugin.ts
  libs/engine/src/plugins/core/algebra/algebra.test.ts
  libs/engine/src/plugins/core/algebra/fragments/vector.ts
  libs/engine/src/plugins/core/algebra/utils/polynomial-syntax-tree-utils.test.ts
  libs/engine/src/test/eval/eval-arithmetic-nodes.test.ts
  libs/engine/src/test/eval/eval-logic-nodes.test.ts
  libs/engine/src/test/eval/eval-misc-nodes.test.ts
  libs/engine/src/test/eval/eval-primitives.test.ts
  libs/engine/src/test/normalize/normalize-integration.test.ts
  libs/engine/src/test/utils/context-utils.test.ts
  libs/engine/src/types/Context.ts
  libs/engine/src/types/Plugin.ts
  libs/engine/src/types/SyntaxTreeNodes.ts
  libs/engine/src/utils/context-utils.ts
  libs/engine/src/utils/integration-test-utils.ts
  libs/engine/src/utils/plugin-builder.ts
  libs/parser/grammar.peggy
Labels: feature, engine
